# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Node.js / Next.js
node_modules/
.next/
out/
.env.local
.env.development
.env.production

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

